.navbar {
  width: 100%;
  height: 55px;
  background-color: #ffa721;
  color: #fff;
  font-size: 17.5px;
  position: fixed;
  z-index: 99;
  top: 0;
  user-select: none;
}
.navbar .navbar-left {
  position: absolute;
  transform: translateY(50%);
  bottom: 50%;
  left: 26.5px;
}
.navbar .navbar-middle {
  position: absolute;
  bottom: 15.5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.form-control-btn {
  display: inline-block;
  background: #fdc978;
  border-radius: 5px;
  padding: 10px 18.5px;
  font-size: 15.5px;
  color: #fff;
  border: none;
  margin: 7px auto;
  user-select: none;
}
.left-arrow {
  font-size: 28.5px !important;
}
/* Pickers */
div.select-status div.van-picker {
  background: #d1d4db;
}
div.select-status div.van-picker::after {
  content: '';
  position: absolute;
  border-top: 4px solid #7f8386;
  width: 44px;
  top: 148px;
  left: 100px;
}
div.select-status div.van-picker::before {
  content: '';
  position: absolute;
  border-top: 4px solid #7f8386;
  width: 44px;
  top: 148px;
  right: 100px;
}
div.select-status li {
  font-size: 23px;
  width: 98.5px;
  margin: 0 auto;
  color: #acb5be;
}
div.select-status ul li.van-picker-column--selected {
  font-size: 29px;
  color: #7f8386;
}
div.select-status div.van-picker__frame.van-hairline--top-bottom {
  display: none;
}
div.write-comment-field textarea.van-field__control {
  background-color: #f4f4f4;
  width: 100%;
  max-height: 48px !important;
  font-size: 16px;
  box-sizing: content-box;
  caret-color: #ffa721;
}
div.write-comment-field {
  padding: 0 !important;
}
div.select-location .van-picker__toolbar > .van-picker__cancel {
  color: #ffa721;
}
div.select-location .van-picker__toolbar > .van-picker__confirm {
  color: #ffa721;
}
div.select-location .van-picker__toolbar > .van-picker__title {
  font-size: 16px;
}
.slide-enter-active,
.slideIn,
.slide-leave-active,
.slideOut {
  animation-duration: .3s;
  animation-fill-mode: both;
}
.slide-enter-active,
.slideIn {
  animation-name: slideIn;
}
.slide-leave-active,
.slideOut {
  animation-name: slideOut;
}
.slideUpBig-enter-active,
.slideInUpBig,
.slideUpBig-leave-active,
.slideOutUpBig {
  animation-duration: .3s;
  animation-fill-mode: both;
}
.slideUpBig-enter-active,
.slideInUpBig {
  animation-name: slideInUpBig;
}
.slideUpBig-leave-active,
.slideOutUpBig {
  animation-name: slideOutUpBig;
}
.slideUp-enter-active,
.slideInUp,
.slideUp-leave-active,
.slideOutUp {
  animation-duration: .3s;
  animation-fill-mode: both;
}
.slideUp-enter-active,
.slideInUp {
  animation-name: slideInUp;
}
.slideUp-leave-active,
.slideOutUp {
  animation-name: slideOutUp;
}
.slideRightBig-enter-active,
.slideInRightBig,
.slideRightBig-leave-active,
.slideOutRightBig {
  animation-duration: .3s;
  animation-fill-mode: both;
}
.slideRightBig-enter-active,
.slideInRightBig {
  animation-name: slideInRightBig;
}
.slideRightBig-leave-active,
.slideOutRightBig {
  animation-name: slideOutRightBig;
}
.slideRight-enter-active,
.slideInRight,
.slideRight-leave-active,
.slideOutRight {
  animation-duration: .3s;
  animation-fill-mode: both;
}
.slideRight-enter-active,
.slideInRight {
  animation-name: slideInRight;
}
.slideRight-leave-active,
.slideOutRight {
  animation-name: slideOutRight;
}
.slideLeftBig-enter-active,
.slideInLeftBig,
.slideLeftBig-leave-active,
.slideOutLeftBig {
  animation-duration: .3s;
  animation-fill-mode: both;
}
.slideLeftBig-enter-active,
.slideInLeftBig {
  animation-name: slideInLeftBig;
}
.slideLeftBig-leave-active,
.slideOutLeftBig {
  animation-name: slideOutLeftBig;
}
.slideLeft-enter-active,
.slideInLeft,
.slideLeft-leave-active,
.slideOutLeft {
  animation-duration: .3s;
  animation-fill-mode: both;
}
.slideLeft-enter-active,
.slideInLeft {
  animation-name: slideInLeft;
}
.slideLeft-leave-active,
.slideOutLeft {
  animation-name: slideOutLeft;
}
.slideDownBig-enter-active,
.slideInDownBig,
.slideDownBig-leave-active,
.slideOutDownBig {
  animation-duration: .3s;
  animation-fill-mode: both;
}
.slideDownBig-enter-active,
.slideInDownBig {
  animation-name: slideInDownBig;
}
.slideDownBig-leave-active,
.slideOutDownBig {
  animation-name: slideOutDownBig;
}
.slideDown-enter-active,
.slideInDown,
.slideDown-leave-active,
.slideOutDown {
  animation-duration: .3s;
  animation-fill-mode: both;
}